<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User's List</title>
</head>
<body>
    <% if (users != null) { %>
        <% for (let user of users) { %> 
    <div class="cart">
        <h3>USER'S DETAIL</h3>
    <div class="cartText"> 
    <p> <%= user.name %> </p>
     <p> <%= user.email %> </p>
     <p> <%= user.phone %> </p>
     <p> <%= user.address %> </p>
     <p></p>
     <p></p>   
    </div>

    <a href="/admin/reject-user/<%= user._id %>" class="btn" >Reject</a>

    <form action="/admin/add-user" method="POST"> 
     <button class="btn">Add</button>   
     <input type="hidden" name="userid" value=" <%=user._id%> ">
    </form>
    </div>
    <% } %>

    <% } else { %>
        <h2>No Users Found<h2>
        <% } %>
</body>
</html>


<style>
html{
    padding:0%;
    margin: 0%;
}
body
{
 
    background: gray;
    display: flex;
    flex-wrap:wrap;
}
h3{
    text-align: center;
    padding: 10px;
}
.cartText
{
    height: 200px;
    padding-left: 6px;
}
.cart
{
    background: honeydew;
     display: flex;
     flex-direction: column;
    border-radius: 5px;
    width: 250px;
    height: 300px; 
    margin: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.btn
{
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    margin-left: 10px;
    font: inherit;
    position: relative;
    /*left: 20px;*/
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover,
.btn:active
{
    background-color: #00695c;
    color: white;
}
 

</style>
